<h1>Admin Page</h1>

<form id="newForm" action="/forms" method="POST">
  <input type="text" name="name" placeholder="Form Name" />
  <input type="text" name="desc" placeholder="Description" />
  <span id="addFields"></span>
  <input type="submit" />
</form>