<h1>Admin Page</h1>

<form id="newForm" action="/forms" method="POST">
  <input type="text" name="name" placeholder="Form Name" />
  <input type="text" name="desc" placeholder="Description" />
  <input type="submit" />
</form>

<div class="fields">
  <h2>Add Form Fields</h2>
  <button onclick="">Text</button>
  <button onclick="">Choice</button>
</div>