<div class="container-fluid">
  <table class="table table-striped table-bordered shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Form Title</th>
        <th scope="col">Created Date/Time</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each completedForms}}
      <form action="/forms/completed/view_completed" method="GET">
        <input type="hidden" name="id" value={{id}} />
        <tr>
          <th scope="row">{{name}}</th>
          <td>{{time}}</td>
          <td><button type="submit" class="btn btn-secondary">View Data</button></td>
        </tr>
      </form>
      {{else}}
      <p>There are no completed forms available. Complete a form to get started!</p>
      {{/each}}
    </tbody>
  </table>
</div>