<div class="container-fluid">
  {{#each forms}}
  <form action="/forms/view" method="GET">
    <div class="row">
      <input type="hidden" name="id" value={{id}} />
      <div class="col">
        <button type="submit" class="btn btn-link">{{name}}</button>
      </div>
      <div class="col">
        <label for="name">{{desc}}</label>
      </div>
    </div>
  </form>
  {{else}}
  <p>There are no forms available. Create a form to get started!</p>
  {{/each}}
</div>