<div class="container-fluid">
  {{#each forms}}
  <div class="card text-center shadow">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
      <form action="/forms/view" method="GET">
        <input type="hidden" name="id" value={{id}} />
        <p class="card-text">{{desc}}</p>
        <button type="submit" class="btn btn-secondary">Fill Out Form</button>
      </form>
    </div>
  </div>
  {{else}}
  <p>There are no forms available. Create a form to get started!</p>
  {{/each}}
</div>