<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Build Forms For Your Business</h1>
    <p class="lead">A flexible web application for creating, distributing, and exporting forms throughout your
      organization. <a href="/static/files/form_builder_instructions.pdf" download>View Documentation.</a></p>
  </div>
</div>

<div class="container-fluid">
  <div class="row highlight">
    <div class="col">
      <h3>Build Forms</h3>
      <p>Create forms to distribute among your users, centralizing the intake process and reducing redundancy.</p>
    </div>
    <div class="col">
      <div class="carousel slide shadow-lg" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/build_screenshot_1.png" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="/static/images/build_screenshot_2.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row highlight">
    <div class="col">
      <img src="/static/images/complete_screenshot.png" class="img-fluid shadow-lg">
    </div>
    <div class="col">
      <h3>Complete Forms</h3>
      <p>Easily fill out custom forms according to the form's specifications.</p>
    </div>
  </div>
  <div class="row highlight">
    <div class="col">
      <h3>Export Forms</h3>
      <p>Export form data in text format to manipulate according to your unique specifications.</p>
    </div>
    <div class="col">
      <img src="/static/images/view_completed_screenshot.png" class="img-fluid shadow-lg">
    </div>
  </div>

</div>

<div id="features" class="container-fluid">
  <div class="scroll-box">
    <h3>Upcoming Features</h3>
    <ul>
      <li>Export to CSV with custom delimiters</li>
      <li>Add checkbox, multiple choice, and radio inputs</li>
      <li>Persistent data storage</li>
      <li>User authentication and user groups</li>
      <li>Improved <a href="https://getbootstrap.com">Bootstrap</a> theming</li>
      <li>Implement sessions</li>
      <li>Email alerts when form is completed</li>
      <li>Analytics dashboard to track forms completed</li>
      <li>And much more!</li>
    </ul>
  </div>
</div>