<div id="formInfo">
  <h1 id="formName"></h1>
  <p id="formDesc"></p>
  <form id="formFields"></form>
</div>

<script>
  var viewForm = {{{ formItem }}};
  document.getElementById("formName").innerHTML = viewForm.name;
  document.getElementById("formDesc").innerHTML = viewForm.desc;

  var inputs = viewForm.inputs;
  var formFields = document.getElementById("formFields");

  console.log(inputs);

  for (var field in inputs) {
    var newField = document.createElement("input");
    newField.setAttribute("type", "text");
    newField.setAttribute("placeholder", "Enter text input here.");
    newField.setAttribute("name", field);

    var newLabel = document.createElement("label");
    newLabel.htmlFor = field;
    newLabel.innerHTML = inputs[field];

    formFields.appendChild(newLabel);
    formFields.appendChild(newField);

    var br = document.createElement("br");
    formFields.appendChild(br);
  }
</script>