<div class="container-fluid">
  <h1 id="formName"></h1>
  <p id="formDesc"></p>

  <form id="formFields" action="/forms/view" method="POST" enctype="multipart/form-data">
    <span id="newFieldSpan"></span>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<script>
  var viewForm = {{{ formItem }}};
  document.getElementById("formName").innerHTML = viewForm.name;
  document.getElementById("formDesc").innerHTML = viewForm.desc;

  var inputs = viewForm.inputs;
  var newFieldSpan = document.getElementById("newFieldSpan");

  // setting name inputs, hidden
  var nameField = document.createElement("textarea");
  nameField.setAttribute("class", "form-control");
  nameField.setAttribute("name", "name");
  nameField.setAttribute("type", "text");
  nameField.setAttribute("hidden", "hidden");
  nameField.value = viewForm.name;
  newFieldSpan.appendChild(nameField);

  // setting desc inputs, hidden
  var descField = document.createElement("textarea");
  descField.setAttribute("class", "form-control");
  descField.setAttribute("name", "desc");
  descField.setAttribute("type", "text");
  descField.setAttribute("hidden", "hidden");
  descField.value = viewForm.desc;
  newFieldSpan.appendChild(descField);

  var time = Date(Date.now());
  time = time.toString();

  // setting timestamp inputs, hidden
  var timeCompleted = document.createElement("textarea");
  timeCompleted.setAttribute("class", "form-control");
  timeCompleted.setAttribute("name", "time");
  timeCompleted.setAttribute("type", "text");
  timeCompleted.setAttribute("hidden", "hidden");
  timeCompleted.value = time;
  newFieldSpan.appendChild(timeCompleted);

  for (var field in inputs) {
    var newField = document.createElement("textarea");
    newField.setAttribute("class", "form-control");
    newField.setAttribute("rows", "1");
    newField.setAttribute("name", `inputs[${field}]`);
    newField.setAttribute("placeholder", "Enter text input here.");
    newField.setAttribute("required", "required")

    var newLabel = document.createElement("label");
    newLabel.htmlFor = field;
    newLabel.innerHTML = inputs[field];

    newFieldSpan.appendChild(newLabel);
    newFieldSpan.appendChild(newField);

    var br = document.createElement("br");
    newFieldSpan.appendChild(br);
  }
</script>