<div class="container-fluid">
  <h1 id="header"></h1>
  <p id="caption"></p>

  <form id="formFields" action="/forms/view" method="POST" enctype="multipart/form-data">
    <span id="newFieldSpan"></span>
    <script type="text/javascript" src="/static/javascript/view.js"></script>
    <script>displayForm({{{ formItem }}})</script>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>