<div class="container-fluid">
  <h1 id="header"></h1>
  <p id="caption"></p>
  <p id="time"></p>
  <form action="/forms/completed/view_completed" method="POST">
    <div class="form-group">
      <span id="formCompleted"></span>
      <script type="text/javascript" src="/static/javascript/view_completed.js"></script>
      <script>displayForm({{{ formItem }}})</script>
      <button type="submit" class="btn btn-primary">Export Data</button>
    </div>
  </form>
</div>