:root {
  --bg-color: #eff7f6;
  --light-text-color: #eff7f6;
  --primary-color: #1d2d44;
  --secondary-color: #48a9a6;
  --dark-text-color: #040f0f;
  --fancy-font: "Baskervville", serif;
  --boring-font: "Roboto", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--dark-text-color);
  font-family: var(--boring-font);
}

textarea {
  margin-bottom: 15px;
}

.highlight {
  display: flex;
  margin: 10px;
  padding: 20px;
  align-items: center;
}

.jumbotron {
  background: var(--primary-color);
  color: white;
}

.jumbotron h1 {
  font-family: var(--fancy-font);
}

.bg-company-white {
  background: var(--primary-color) !important;
}

.btn-link,
.btn-link:hover {
  color: var(--secondary-color);
}

.btn-primary,
.btn-primary:hover {
  background: var(--primary-color);
  border: none;
}

.btn-secondary,
.btn-secondary:hover {
  background: var(--secondary-color);
  border: none;
}

.highlight h3 {
  font-family: var(--fancy-font);
  margin-bottom: 15px;
}

.navbar-brand {
  font-family: var(--fancy-font);
  margin-left: 30px;
}

.navbar-nav {
  margin-left: 30px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.container-fluid {
  margin-top: 20px;
}

.card {
  margin: 30px;
}

.card-body {
  padding: 5px;
}

.table {
  margin-top: 30px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.table thead {
  font-family: var(--fancy-font);
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  color: var(--light-text-color);
}

.table th {
  font-weight: normal;
}

.card-header {
  font-family: var(--fancy-font);
  font-size: 20px;
}

#formHeader {
  margin: 30px;
}

#formHeader h1 {
  font-family: var(--fancy-font);
}

#formHeader p {
  font-style: italic;
}

form {
  margin: 30px;
}

form .btn {
  margin-top: 20px;
}

a,
a:hover,
a:visited {
  color: var(--secondary-color);
}

.scroll-box {
  overflow-y: scroll;
  height: 150px;
  text-align: center;
}

#features {
  background: var(--primary-color);
  color: var(--light-text-color);
  padding: 30px;
}

#features h3 {
  font-family: var(--fancy-font);
}
