:root {
  --bg-color: white;
  --light-text-color: white;
  --primary-color: #1d2d44;
  --secondary-color: #48a9a6;
  --dark-text-color: #040f0f;
}

body {
  background: var(--bg-color);
  color: var(--dark-text-color);
}

textarea {
  margin-bottom: 15px;
}

.highlight {
  padding: 30px;
}

.jumbotron {
  background: var(--primary-color);
  color: white;
}

.bg-company-white {
  background: var(--primary-color) !important;
}

.btn-link,
.btn-link:hover {
  color: var(--secondary-color);
}

.btn-primary,
.btn-primary:hover {
  background: var(--primary-color);
  border: none;
}

.btn-secondary,
.btn-secondary:hover {
  background: var(--secondary-color);
  border: none;
}
